<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Tangerine">

<img src="../../assets/AboutUs.jpg" class="aboutUsImage">
<h1 class='top-left'> ABOUT US </h1>
<h1 class='paragraph'> Car2Parking is an application developped in 24 hours by four <br>
    students of École Polytechnique de Montréal for the Hackatown <br>
    2019. It is designed so that citizens can reserve their parking <br>
    spots in advance, therefore reducing traffic in the city. <br><mat-divider class='divider'></mat-divider>
    - Olivier, Sébastion, Charles and Bernard</h1>
